<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BXDefaultProgramPath</key>
	<string>C game.harddisk/bxlaunch.bat</string>
	<key>BXGameIdentifier</key>
	<string>38A9092B-EFE3-4AA1-B13E-AEE96AEFEE11</string>
	<key>BXGameIdentifierType</key>
	<integer>1</integer>
</dict>
</plist>
