<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BXGameIdentifier</key>
	<string>80B6FA74-D4E0-467F-87C8-54BEBE45B623</string>
	<key>BXGameIdentifierType</key>
	<integer>1</integer>
</dict>
</plist>
