<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Core Identifier</key>
	<string>org.openemu.FCEU</string>
	<key>Core Version</key>
	<string>2.2.3</string>
	<key>Name</key>
	<string>OESpecialState_quick</string>
	<key>ROM MD5</key>
	<string>230de2eff978d21ae9f1b3b71cc057ed</string>
	<key>Timestamp</key>
	<date>2018-08-28T09:25:25Z</date>
	<key>Version</key>
	<string>1.0</string>
</dict>
</plist>
